---
layout: default
language: {{ site.lang1_code }}
---
<h1>{{ site.title }}</h1>

<h4>{{ site.title }} is a framework for building responsive, mobile-friendly, multilingual literacy websites. This demo site has stories in {{ site.lang1 }} and {{ site.lang2 }}, as well as several other <a href="{{ "/about" | prepend: site.baseurl }}/languages">languages</a>. Source code is available <a href="https://github.com/global-asp/nairobi-css">on GitHub</a>. Enjoy!</h4>

<div class="container">
	<div class="columns">{% assign sorted_pages = site.pages | sort: "order" %}{% for page in sorted_pages %}{% if page.language == site.lang1_code and page.layout == "story" %}
		<div class="column col-3 col-md-4 col-sm-6 col-xs-12">
			<div class="card">
				<div class="card-image">
					<a class="btn-link" href="{{ "/stories" | prepend: site.baseurl }}/{{ site.lang1_code }}/{{ page.id }}/">
						<img class="img-responsive" src="https://raw.githubusercontent.com/global-asp/gsn-imagebank/master/{{ page.id }}/01.jpg">
					</a>
				</div>
				<div class="card-header">
					<a class="btn-link" href="{{ "/stories" | prepend: site.baseurl }}/{{ site.lang1_code }}/{{ page.id }}/">
						<h3 class="card-title">{{page.title}}</h3>
					</a>
					<div class="bar">
						<a href="{{ "/stories" | prepend: site.baseurl }}/{{ page.language }}/level{{ page.level }}" class="bar-item tooltip" data-tooltip="Level {{ page.level }}" style="width:{{ page.level | times: 20 }}%;">Level {{ page.level }}</a>
					</div>
				</div>
			</div>
		</div>{% endif %}{% endfor %}
	</div>
</div>
