---
title: "J'aime lire"
layout: "story"
id: "0087"
language: "fr"
langname: "French"
level: "1"
text: "Letta Machoga"
illustration: "Wiehan de Jager"
translation: "Lina Scarpellini, Translators without Borders"
reader: "Alexandra Danahy"
license: "by"
version: "3"
nc: ""
source: "10547"
asptitle: "I like to read"
l1title: "¡Me gusta leer!"
l2title: "I like to read!"
shortcode: "read"
order: "01"
---

{% include storycover.html %}
<div id="text02" class="columns">
	{% include picturecol.html index="02" %}	{% include textcol_start.html %}	J'aime lire.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l1"><h3>
	Me gusta leer.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l2"><h3>
	I like to read.
	</h3></div>
	{% include audiocontrols.html index="02" prev="01" next="03" %}
</div>
<hr>

<div id="text03" class="columns">
	{% include picturecol.html index="03" %}	{% include textcol_start.html %}	À qui puis je faire la
lecture ?
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l1"><h3>
	¿Para quién puedo leer?
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l2"><h3>
	Who can I read to?
	</h3></div>
	{% include audiocontrols.html index="03" prev="02" next="04" %}
</div>
<hr>

<div id="text04" class="columns">
	{% include picturecol.html index="04" %}	{% include textcol_start.html %}	Ma sœur est en train de
dormir.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l1"><h3>
	Mi hermana está durmiendo.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l2"><h3>
	My sister is asleep.
	</h3></div>
	{% include audiocontrols.html index="04" prev="03" next="05" %}
</div>
<hr>

<div id="text05" class="columns">
	{% include picturecol.html index="05" %}	{% include textcol_start.html %}	À qui puis je faire la
lecture ?
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l1"><h3>
	¿Para quién puedo leer?
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l2"><h3>
	Who can I read to?
	</h3></div>
	{% include audiocontrols.html index="05" prev="04" next="06" %}
</div>
<hr>

<div id="text06" class="columns">
	{% include picturecol.html index="06" %}	{% include textcol_start.html %}	Ma mère et ma grand
mère sont occupées.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l1"><h3>
	Mi madre y mi abuela están ocupadas.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l2"><h3>
	My mother and
grandmother are busy.
	</h3></div>
	{% include audiocontrols.html index="06" prev="05" next="07" %}
</div>
<hr>

<div id="text07" class="columns">
	{% include picturecol.html index="07" %}	{% include textcol_start.html %}	À qui puis je faire la
lecture ?
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l1"><h3>
	¿Para quién puedo leer?
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l2"><h3>
	Who can I read to?
	</h3></div>
	{% include audiocontrols.html index="07" prev="06" next="08" %}
</div>
<hr>

<div id="text08" class="columns">
	{% include picturecol.html index="08" %}	{% include textcol_start.html %}	Mon père et mon grand
père sont occupés.
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l1"><h3>
	Mi padre y mi abuelo están ocupados.
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l2"><h3>
	My father and
grandfather are busy.
	</h3></div>
	{% include audiocontrols.html index="08" prev="07" next="09" %}
</div>
<hr>

<div id="text09" class="columns">
	{% include picturecol.html index="09" %}	{% include textcol_start.html %}	À qui puis je faire la
lecture ?
Je peux faire la
lecture... à moi même !
	{% include textcol_end.html %}
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l1"><h3>
	¿Para quién puedo leer? ¡Puedo leer para mí mismo!
	</h3></div>
	<div class="column col-6 col-lg-11 col-md-12 col-sm-12 l2"><h3>
	Who can I read to? I can
read to myself!
	</h3></div>
	{% include audiocontrols_colophon.html index="09" prev="08" next="colophon" %}
</div>
<hr>

{% include colophon.html %}
