<footer>
	<div class="container">
		<h3>Additional resources</h3>
		<a class="btn btn-lg" target="_blank" href="http://africanstorybook.org/">African Storybook</a> <a class="btn btn-lg" target="_blank" href="https://global-asp.github.io/">Global African Storybook Project</a> <a class="btn btn-lg" target="_blank" href="http://globalstorybooks.net/">Global Storybooks Portal</a> <a class="btn btn-lg" href=""{{ "" | prepend: site.baseurl }}/contact">Email us</a>
<br><br> &copy; {{ site.title }}. <a href="https://creativecommons.org/licenses/by/4.0/">Some rights reserved</a>.<br><br>
	</div>
</footer>
