<a class="btn btn-lg" href="{{ "/stories" | prepend: site.baseurl }}/{{ page.language }}">Back to stories list</a><br><br>

<div class="columns" id="text01">
	<div class="column col-5 col-lg-12 col-md-12 col-sm-12"><img class="img-responsive" src="https://raw.githubusercontent.com/global-asp/gsn-imagebank/master/{{ page.id }}/01.jpg"></div>
	<div class=" column col-7 col-lg-12 col-md-12 col-sm-12">
		<h1><span class="def">{{page.title}}</span>
			<span class="l1">{{ page.l1title }}</span>
			<span class="l2">{{ page.l2title }}</span>
		</h1>
		<div class="btn-group cover-buttons">
			<a href="#text02" class="btn btn-lg" title="Next page"><i class="icon-arrow-down"></i></a>
			<button class="btn btn-lg{% if page.audio_available == "false" %} disabled{% endif %}" id="playbutton01" onclick="playpause('01')" title="Play/pause"><i class="icon-volume-up"></i></button>{% if page.audio_available == "true" %}
			<audio id="audio01" onended="resetbutton('01')" src="https://gitlab.com/global-asp/gsn-audio/raw/master/{{page.language}}/{{page.id}}/mp3/01.mp3"></audio>{% endif %}
			<button onclick="switchlang('{{ page.language }},{{ site.lang1_code }}','{{ site.lang1_code }},{{ site.lang2_code }},{{ page.language }}')" class="btn btn-lg lang-primary" title="Switch between {{ page.langname }} and {{ site.lang1 }}">{{ site.lang1_code }}</button>
			<button onclick="switchlang('{{ page.language }},{{ site.lang2_code }}','{{ site.lang1_code }},{{ site.lang2_code }},{{ page.language }}')" class="btn btn-lg lang-secondary" title="Switch between {{ page.langname }} and {{ site.lang2 }}">{{ site.lang2_code }}</button>
		</div>
		<h3><span class="tooltip tooltip-right" data-tooltip="Written by"><img class="cover-icon cover-icon-text" src="{{ "/css" | prepend: site.baseurl }}/pencil.svg" alt="Written by"></span> {{page.text}}</h3>
		<h3><span class="tooltip tooltip-right" data-tooltip="Illustrated by"><img class="cover-icon cover-icon-text" src="{{ "/css" | prepend: site.baseurl }}/art.svg" alt="Illustrated by"></span> {{page.illustration}}</h3>{% if page.translation != "" %}
		<h3><span class="tooltip tooltip-right" data-tooltip="Translated by"><img class="cover-icon cover-icon-text" src="{{ "/css" | prepend: site.baseurl }}/global.svg" alt="Translated by"></span> {{page.translation}}</h3>{% endif %}{% if page.reader != "" %}
		<h3><span class="tooltip tooltip-right" data-tooltip="Read by"><img class="cover-icon cover-icon-text" src="{{ "/css" | prepend: site.baseurl }}/megaphone.svg" alt="Read by"></span> {{page.reader}}</h3>{% endif %}
		<h3><span class="tooltip tooltip-right" data-tooltip="Language"><img class="cover-icon cover-icon-text" src="{{ "/css" | prepend: site.baseurl }}/language.svg" alt="Language"></span> <a href="{{ "/stories" | prepend: site.baseurl }}/{{page.language}}">{{page.langname}}</a></h3>
		<h3><span class="tooltip tooltip-right" data-tooltip="Level"><img class="cover-icon cover-icon-text" src="{{ "/css" | prepend: site.baseurl }}/level.svg" alt="Level"></span> <a href="{{ "/stories" | prepend: site.baseurl }}/{{page.language}}/level{{page.level}}">Level {{page.level}}</a></h3>
		<h3><span class="tooltip tooltip-right" data-tooltip="Narrate story">{% if page.audio_available == "true" %}<img class="cover-icon cover-icon-audio" src="{{ "/css" | prepend: site.baseurl }}/speaker.svg" alt="Narrate full story"></span> <audio id="audioplayer" controls><source src="https://gitlab.com/global-asp/gsn-audio/raw/master/{{page.language}}/{{page.id}}/{{page.language}}-{{page.id}}_{{page.shortcode}}.mp3" type="audio/mpeg"></audio>{% else %}<img class="cover-icon cover-icon-audio" src="{{ "/css" | prepend: site.baseurl }}/speaker.svg" alt="Narrate full story"></span> <span class="cover_msg">{{ site.no_audio_msg }}</span>{% endif %}</h3>
		<h3><span class="tooltip tooltip-right" data-tooltip="Autoplay story (beta - desktop only)"><img id="autoplay_icon" class="cover-icon cover-icon-text" src="https://dohliam.github.io/elegant-circles/svg/play.svg" alt="Autoplay story" style="cursor:pointer" onclick="autoplay()"></span></h3>
	</div>
</div>
<hr>
